* {
	box-sizing: border-box;
}

input{
	border-radius: 5px !important;
}

legend {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 35px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
	font-size: 15px;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.edad {
	border-color: rgb(58, 149, 202);
}

.edad-message {
	display: none;
	color: rgb(58, 149, 202);
	font-size: 13px;
}

.edad-message.show {
	display: block;
}

.error {
	border-color: red;
}

.error-message {
	display: none;
	color: red;
	font-size: 12px;
}

.error-message.show {
	display: block;
}

.enfermedades {
	display: none;
}

.enfermedades.show {
	display: block;
}