* {
	box-sizing: border-box;
}

legend {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 35px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.edad {
	border-color: rgb(0, 153, 255);
}

.edad-message {
	display: none;
	color: rgb(0, 153, 255);
	font-size: 12px;
	position: absolute;
	margin-top: 2px;
	margin-left: 650px;
}

.edad-message.show {
	display: block;
}

.error {
	border-color: red;
}

.error-message {
	display: none;
	color: red;
	font-size: 12px;
	position: absolute;
	margin-top: 2px;
	margin-left: 650px;
}

.error-message.show {
	display: block;
}

.enfermedades {
	display: none;
}

.enfermedades.show {
	display: block;
}